{% extends "student_base.html" %} {% block styles %}
<link href="/grade_list.css" rel="stylesheet" />
{% endblock %} {% block page_content %}
<div class="paper grade">
    <form class="lookgrade">
        <div class="grade_title">
            <input type="hidden" name="student_name" id="choose_course_studentname" height="16px" value="{{user}}">
            <label>课程：</label>
            <select name="cou_sn" class="cou_sn">
                <option value=" ">全部课程成绩</option>
                {% for item in courses %}
                <option value="{{item.cou_sn}}">
                    {{item.cou_name}}({{item.cou_sn}})
                </option>
                {% endfor %}
            </select>
            <a class="checkgradebtn">查询成绩</a>
        </div>

        <div>
            <table class="grade table">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>课程</th>
                        <th>成绩</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>


    </form>
</div>
<script src="/grade.js"></script>
{% endblock %}