<html>
    <head>
        <link rel="stylesheet" href="/login.css" />
    </head>
<body>
    <div class="paper">
        <div class="body">
            <div class="photo"><img class="logo" src="/logo_201.png" />
            </div><div class="title">欢迎登录成绩管理系统</div>    
        <form action="/login" method="post">
            <input type="text" id="username" name="username" maxlength="50" placeholder="学号/工号"><br>
            <input type="password" id="password" name="password" maxlength="50" placeholder="密码"><br>
            <input id="submit" type="submit" value="登录" class="btn">
        </form>
    </div>
    </div>
    
</body>
</html>